/* 
=========================
       Basic Style
=========================
*/
.common {
  font-family: "Lato", sans-serif;
  color: #333333;

  background-color: #f8f8f8;
}

.todo-app__header {
  display: block;
  width: 500px;
  margin: 0 auto;

  text-align: right;
}

.todo-app__header img {
  width: 100%;
}

.todo-app__header .more_inf {
  font-family: "Passion One", sans-serif;
}

@media screen and (max-width: 768px) {

  .todo-app__header {
    text-align: center;
  }

}

.centered-main-page-element {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.task {
  display: inline-block;
  flex-grow: 1;
  width: 56%;
}

.task-row-wrapper {
  display: flex;
}

ul {
  margin: 0;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button{
  outline: none;
}

button {
  width: 60px;

  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888888;

  background: none;
  border: 0px;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

/* 
=========================
        heading
=========================
*/
h3,
label[for='new-task'] {
  margin: 0;
  padding: 30px 0 10px;

  font-size: 15px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;

  border-bottom: 2px solid #333333;
}

input[type="text"] {
  height: 21px;

  margin: 0;
  padding: 0 9px;

  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: #888888;
  line-height: 18px;

  border: 1px solid #dDd;
  background: #ffffff;
  border-radius: 6px;
}

input[type="text"]:focus {
  color: #333333;
}

/* 
=========================
        new task
=========================
*/
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  width: 318px;
}

/* 
=========================
       task list
=========================
*/
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  overflow: hidden;

  border-bottom: 1px solid #eeeeee;
}

li > * {
  vertical-align: middle;
}

li > input[type="checkbox"] {
  margin: 0 10px;
}

li > label {
  box-sizing: border-box;
  width: 226px;
  padding-left: 10px;

  font-size: 18px;
}

li > input[type="text"] {
  width: 226px;
}

button.delete img {
  height: 2em;

  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

button.delete img:hover {
  transform: rotateZ(0);
}

/* 
=========================
       completed
=========================
*/
ul#completed-tasks label {
  color: #888888;
  text-decoration: line-through;
}

/* 
=========================
       edit task
=========================
*/
ul li input[type=text] {
  display: none;
}

ul li.editMode input[type=text] {
  display: inline-block;
  width: 224px;
}

ul li.editMode label {
  display: none;
}