/* 
=========================
      common styles
=========================
*/
.todo-app {
  font-family: "Lato", sans-serif;
  color: #333333;
  background-color: #f8f8f8;
}

.todo-app__section-heading {
  margin: 0;
  padding: 30px 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  border-bottom: 2px solid #333333;
}

.todo-app__section-unfinished-tasks_list,
.todo-app__section-finished-tasks_list {
  margin: 0;
  padding: 0;
}

.todo-app__section-unfinished-tasks_list-task,
.todo-app__section-finished-tasks_list-task {
  list-style: none;
}

.todo-app__input-checkbox {
  margin: 0 10px;
}

.todo-app__button-delete_image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.todo-app__button-delete_image:hover {
  transform: rotateZ(0);
}

/* допустимое использование теговых селекторов для сброса дефолтных стилей */
input,
button{
  outline: none;
}

.todo-app__button-edit,
.todo-app__button-delete,
.todo-app__section-add-item_button-add-item {
  cursor: pointer;
}

.todo-app__section-add-item_button-add-item,
.todo-app__button-edit,
.todo-app__button-delete {
  width: 60px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888888;
  background: none;
  border: 0px;
}

.todo-app__button-edit,
.todo-app__button-delete {
  padding: 0 15px;
  /* outline: solid 1px red; */
}


.todo-app__section-add-item_button-add-item:hover,
.todo-app__button-edit:hover,
.todo-app__button-delete:hover {
  color: #3a3a3a;
}

/* 
=========================
         header
=========================
*/
.todo-app__header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

.todo-app__header_logo {
  width: 100%;
}

.todo-app__header_link {
  font-family: "Passion One", sans-serif;
}

@media screen and (max-width: 768px) {

  .todo-app__header {
    text-align: center;
  }

}

/* 
=========================
         main
=========================
*/
.todo-app__main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

/* 
===============================
   todo-app__section-add-item
===============================
*/
.todo-app__section-add-item_heading {
  margin: 0 0 20px;
}

.todo-app__section-add-item_input-wrapper {
  display: flex;
  justify-content: center;
}

.todo-app__section-add-item_new-task {
  flex-grow: 1;
  font-size: 18px;
}

.todo-app__section-add-item_new-task {
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
}

/* 
===============================
   section-unfinished-tasks
===============================
*/
.todo-app__button-edit {
  /* outline: solid 2px red; */
}
.todo-app__section-unfinished-tasks_list {
    /* outline: solid 1px red; */
}

.todo-app__section-add-item_new-task:focus,
.todo-app__task-input-edit-mode:focus {
  color: #333333;
}

.todo-app__task-label-edit-mode,
.todo-app__task-label-not-edit-mode {
  /* outline: solid 1px rgb(43, 0, 255); */
}

.todo-app__task-label-not-edit-mode {
  flex-grow: 1;
  overflow: auto;
  padding-left: 10px;
  font-size: 18px;
  border: solid 1px transparent;
}

.todo-app__task-label-edit-mode {
  flex-grow: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.todo-app__task-input-not-edit-mode {
  flex-grow: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  border-width: 0;
}

.todo-app__task-input-edit-mode {
  flex-grow: 1;
  padding: 0 0 0 10px;
  font-size: 18px;
  color: #888888;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  border: 1px solid #dddddd;
  background: #ffffff;
  border-radius: 6px;
  overflow: auto;

  /* outline: solid 1px red; */
}

.todo-app__section-unfinished-tasks_list-task,
.todo-app__section-finished-tasks_list-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}

/* 
=========================
       completed
=========================
*/
.completed {
  color: #888888;
  text-decoration: line-through;
}

